@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --blue: rgb(0, 0, 200);
  --green: rgb(0, 200, 0);
  text-align: center;
}

/* TODO : enlever les styles du navigateur sur la liste */

.ul {
  background-color: lightblue;
}

ul + li {
  text-decoration: underline;
  color: --blue;
}

li {
  color: green;
}

input {
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 4px;
  margin-left: 6px;
}
